<div class="content-container">
<mat-dialog-content >
  <div *ngFor="let item of selectedItems" class="selected-item">
    <mat-card class="item" style="height: 170px;width:600px;">
      <div class="item-content">
        <img mat-card-image [src]="item.imageUrl" alt="Product Image" class="item-image">
        <div class="item-details">
          <h2 mat-card-title>{{ item.name }}</h2>
          <div class="info">
            <p class="price">Price: {{ item.price }}</p>
            <p class="weight">Weight: {{ item.weight }} grams</p>
          </div>
        </div>
      </div>
      <div class="button-group">
        <button mat-icon-button class="add-icon" style="background-color: rgb(240, 140, 140);width:30px; height: 27px; padding: 0px; margin-right: 8px;" (click)="increment(item)">
          <mat-icon style="font-size: 16px;">add</mat-icon>
        </button>
        <span *ngIf="item.count !== undefined">{{ item.count }}</span>
        <button mat-icon-button class="remove-icon" *ngIf="item.count !== undefined && item.count > 0"
          style="background-color: rgb(240, 140, 140);width: 30px; height: 27px; padding: 0px; margin-right: 12px;margin-left: 12px;"
          (click)="decrement(item)">
          <mat-icon style="font-size: 16px;">remove</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</mat-dialog-content>
<div class="total-price">
  <strong>Total Price: ₹ {{ totalPriceCount$ | async }}</strong>
  <button class="button" (click)="checkout()">CheckOut</button>
</div>
</div>

